{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
    {{- $profile := .Site.Params.home.profile -}}
    {{- $posts := .Site.Params.home.posts -}}
    <div class="page home" data-home="posts">
        {{- /* Title */ -}}
        <h2 class="single-title">
            {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
        </h2>

        {{- /* Posts */ -}}

        {{- /* Paginate */ -}}
        {{- $pages := where .Site.RegularPages "Type" "posts" -}}

        {{- $pages = .Paginate $pages -}}

        {{- range $pages.Pages -}}
            {{- .Render "summary" -}}
        {{- end -}}

        {{- partial "paginator.html" . -}}

    </div>
{{- end -}}
