{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
    <div class="page single">
        {{- /* Title */ -}}
        <h1 class="single-title">
            {{- .Title -}}
        </h1>

        {{- /* Subtitle */ -}}
        {{- with $params.subtitle -}}
            <h2 class="single-subtitle">{{ . }}</h2>
        {{- end -}}

        {{- /* Content */ -}}
        <div class="content" id="content">
            {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
        </div>

        {{- /* Stats table */ -}}
        {{- partial "stats/stats_table" -}}

        {{- /* Posts per year */ -}}
        <h3>Posts Per Year</h3>
        {{- partial "stats/posts_per_year" -}}

        {{- /* Tags cloud */ -}}
        <h3>Tags cloud</h3>
        {{ partial "stats/tags_cloud" (dict "ctx" $)}}
    </div>
    <div class="page stats">

    </div>
{{- end -}}